.container {
    @apply px-4 mx-auto lg:px-8 xl:max-w-6xl; 
}

.img-box {
    @apply bg-zinc-700 overflow-hidden 
}

.img-cover {
    @apply w-full h-full object-cover    
}

.headline-1 {
    @apply max-w-max;
    background: -webkit-linear-gradient(0deg, #F5DB01, #C2B227, #333229);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headline-1 {
    @apply text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15] 
}