.container {
  @apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

.img-box {
  @apply bg-zinc-700 overflow-hidden;
}

.img-cover {
  @apply w-full h-full object-cover;
}

.headline-1 {
  @apply max-w-max;
  background: -webkit-linear-gradient(180deg, #f5db01, #c2b227, #333229);
  background-size: 400%;
  background-position: 0% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline-1 {
  @apply text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15];
}

.grunge-bg {
  will-change: filter, transform;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
